@font-face {
  font-family: 'myFont';
  src: url('./font_1.woff2') format('woff2'), url('./font_2.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./icon.png');
  font-family: 'myFont';
}
