@tailwind base;
@tailwind components;
@tailwind utilities;

$redColor: red;

h1 {
  color: $redColor;
  user-select: none;
  font-family: 'Font';
  background-image: url('./img.jpeg');
  transition: 0.5s;

  &:hover {
    transform: translateY(-10px);
  }
}

@font-face {
  font-family: 'Font';
  src: url('font1.woff2') format('woff2');
}
